<div class='wrapper' style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://lc-sJYm7PNe.cn-n1.lcfile.com/d569fa8a8ce5be5d0608.jpg');background-size:cover; background-position: center; display: flex; flex-direction: column; align-items: center; width: 100%; height: 100vh;">
  <div class='container' style="width:50%;height:90%;display: flex;justify-content: space-around; flex-direction: column; align-items: center;">
    <div class='title' style="display: flex; align-items:center;width: 300px; justify-content: space-around;">
      <div style="font-size: 50px; color: white; font-weight: bold;">Sports </div>
    <div class='logo' style="background-image: url('https://lc-sJYm7PNe.cn-n1.lcfile.com/2699fe09d5eaf60d25e4.png');background-size:contain; background-position: center; background-repeat: no-repeat; width:100px;height: 100px;"> </div>
    <div style="font-size: 80px; color: white; font-weight: bold;">!</div>
    </div>
    <div class='introduction' style="font-size: 20px; color: white;width: 70%; padding-left: 30px;">
      Sports GO! is a WeChat Mini App that helps sports lovers to play sports with interesting people. Users can organize a sports event and can join others sports events on this app. It solves the problem when people have trouble finding buddies to play sports with.
      Come on! Go to sports!

    </div>
    <div class='developers'>

    </div>
    <div class='qr-code'style="background-image: url('https://lc-sjym7pne.cn-n1.lcfile.com/7598ac6760ca76ca1f26.jpg'); background-size:contain; background-position: center; width:200px;height:200px;"></div>
  </div>
</div>
